.detail-page-book-review {
    background-color: white;
    padding: 24px;
}

html {
    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0%;
    padding: 24px;
}

header {
    padding: 12px;
}

footer {
    background-color: burlywood;
    margin-top: 24px;
    padding: 24px;
}

main {
    max-width: 800px;
    padding: 24px;
    margin: auto
}

.book-cover {
    width: 200px;
    height: auto;
}

.input {
    border: 1px solid darkgray;
    border-radius: 4px;
    padding: 12px
}

.textarea {
    border: 1px solid darkgray;
    border-radius: 4px;
    padding: 12px;
    height: 100px;
}

.button {
    padding: 12px;
    font-size: 110%
}

.book-review-form {
    background-color: white;
    padding: 24px
}

.main-page-book-review {
    background-color: white;
    padding: 24px;
}